@import url('https://fonts.googleapis.com/css?family=Lato|Averia+Serif+Libre');

body {
	padding: 0px;
	margin: 0px;
	background: white;
	font-family: 'Lato', serif;
	font-weight: normal;
	font-size: 14px;
}

header, h1, h2 {
	text-align: center;
	font-family: 'Averia Serif Libre', serif;
}

header {
	font-size:26px;
	font-weight: normal;
}

h1 {
	font-size: 34px;
	font-weight: bold;
	color: #BBB;
	margin-bottom: 0;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	color: #48B;
}

div.basic_stats {
	text-align: center;
	padding-bottom: 20px;
}

span.value {
	font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #48B;
	text-decoration: none;
}

a.fav:before {
	display: inline-block;
	background-image: url("rating-star.png");
	background-repeat: no-repeat;
	padding: 0.5em 10px;
	content: "";
}

a:hover {
	background: linear-gradient(to right, #B84, #4B8);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

table,
.histogram,
.heatmap {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.heatmap {
	display: block;
}

figure.heatmap {
	width: min-content;
}

footer {
	text-align: center;
	font-weight: normal;
	color: #999;
	font-size: 10px;
	padding-bottom: 1em;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
	text-decoration: none;
	font-weight: bold;
	color: #666;
}

table.list {
	width: 900px;
}

.list tr:nth-child(odd) {
	background-color: #e2eaf1;
}

.list tr:nth-child(even) {
	background-color: #f0f8ff;
}

.list tr.highlight {
	background-color: #ffaaaa;
}

.list th {
	background-color: #fff;
	font-weight: bold;
}

.list td {
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
}

.list td.bad {
	background-color: #ffaaaa;
}

.list td.good {
	background-color: #aaffaa;
}

.dt td {
	background: #DDD;
	color: #000;
	text-align: center;
}

.dt th {
	font-weight: bold;
	width: 4em;
}

td.dt_zero {
	color: #fff;
}

td.dt_null {
	background-color: white;
}

/* histogram */

.bar {
	font-size: .9em;
	line-height: 1;
/* 	text-transform: uppercase; */
	width: 500px;
	height: 40px;
	margin-left: 200px;
	background: repeating-linear-gradient( to right, #ddd, #ddd 1px, #fff 1px, #fff 10%);
}

.bar:after {
	content: "";
	display: block;
	background-color: #48B;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
	width: var(--percent);
	margin-bottom: 10px;
	height: 90%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.bar > .text {
	font-weight: 600;
	display: block;
	align-items: center;
	height: 40px;
	width: 200px;
	background-color: white;
	position: absolute;
	left: 0;
	text-align: right;
}

.histogram {
	display: flex;
	background-color: white;
	flex-direction: column;
	width: 100%;
	max-width: 700px;
	position: relative;
	padding: 20px;
	padding-top: 0;
}

.histogram.nested details.nested .bar:after {
	background-color: #C67;
}

.histogram.nested details > summary {
	cursor: pointer;
	list-style: none;
}

.histogram.nested details > summary::-webkit-details-marker {
	display: none;
}

.histogram.inside {
	margin-top: 20px;
	margin-left: 30px;
}

.histogram.nested .histogram.inside .bar:after {
	background-color: #8AC;
}

.friendbar > .bar,
.friendbar > .bar > .text {
	height: 10px;
}

.friendbar > .bar:after {
	background: linear-gradient( to right, rgba(0,0,255,1) 0%, rgba(0,255,0,1) 50%, rgba(255,0,0,1) 100%);
	background-size: 500px;
}

/* horizontal histogram */

.histogram.cachingtimeline {
	flex-direction: row;
	width: auto;
	max-width: none;
	height: 10em;
	position: static;
	padding: 0 0 3em 0;
	align-items: end;
	justify-content: center;
}

.cachingtimeline > .bar {
	display: flex;
	font-size: 1em;
	line-height: 1;
	width: 65px;
	height: var(--percent);
	background-image: linear-gradient(to right, #7c7 50%, #668);
	margin: 0 5px;
	align-items: end;
}

.cachingtimeline > .bar:after {
	display: none;
}

.cachingtimeline > .bar > .text {
	display: block;
	height: auto;
	width: auto;
	position: relative;
	top: 2.5em;
	text-align: center;
}


/* table-based horizontal histogram */

.calendar_tab {
	border-collapse: collapse;
	border: 1px black solid;
	padding: 0;
}

.calendar_tab th {
	font-weight: bold;
	width: 4em;
}

.calendar_tab tr:first-of-type {
	border-width: 2px;
	border-color: black;
	border-style: solid none;
	margin: 0 0 30px 0;
}

.calendar_tab tr {
	display: flex;
	align-items: baseline;
	height: 100px;
	margin: 30px 0;
}

.calendar_tab tr:first-child {
	height: auto;
}

.calendar_tab td, .calendar_tab th {
	display: block;
	flex-grow: 1;
	flex-basis: 0;
	margin: 1px;
}

.calendar_tab td {
	background: linear-gradient(to right, #7c7 50%, #668);;
	height: var(--percent);
	position: relative;
	border: 1px solid black;
	vertical-align: bottom;
	text-align: center;
}

.calendar_tab td > span {
	position: absolute;
	bottom: -1.5em;
	left: 0;
	width: 100%;
}


/* collapsible */

details > summary {
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	outline: none;
}

details {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

details > p {
	background: #f0f8ff;
	font-size: 12px;
	padding: 10px;
	margin: 0;
}

details.histogram_others > summary {
	font-weight: bold;
	color: #48B;
}

/* geofriends */

div.users {
	 display: flex;
}

div.user {
	 flex: 1;
}
